/*
1. Reset
2. Style globalne
3. Typografia
4. Kompomenty
5. Naglowek
6. Style glownych sekcji
7. Stopka
*/

/*
1. Reset
*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
2. Style globalne
*/
body {
    background-color: #F4F3EF;
    color: #62615C;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}


section {
    text-align: center;
    padding: 0 10%;
}

img {
    max-width: 100%;
}

/*
3. Typografia
*/
p {
    font-size: 14px;
    line-height: 1.6;
}

@media screen and (min-width: 1024px) {
    p {
        font-size: 18px;
    }
}

/*
4. Komponenty
*/
.section-header {
    padding: 42px 0 20px;
    color: #c6859f;
}

@media screen and (min-width: 1024px) {
    .section-header {
        padding: 0;
    }
}


/*
5. Naglowek
*/
.navbar {
    background-color: #FFFFFF;
    overflow: hidden;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 0 #DEDEDE;
    padding: 0 0 5px 5px;
    z-index: 1;
}


.logo-img {
    left: 0px;
    bottom: 2px;
    height: 85px;
    width: auto;
    padding: 30px 0 0 10px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

li {
    display: inline;
    padding: 25px;
}

.nav-list {
    text-align: center;
    float: right;
    overflow: hidden;
    font-size: 20px;
    padding: 45px;
}

@media screen and (min-width: 1110px) {
    .nav-list {
        font-size: 26px;
        padding-top: 60px;
        padding-bottom: 50px;
    }
}

.nav-list li:hover {
    box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.nav-list li:active {
    background-color: #e3a1bc;
    color: white;
}


@media screen and (min-width: 1024px) {
    nav li {
        padding: 60px;
    }
}

nav a {
    color: #62615C;
    text-decoration: none;
}

.free-space {
    height: 90px;
    /*background: #ffd6e8;*/
}

.top {
    text-align: left;
    padding: 0 0 40px 50px;
    color: #ffffff;
    font-family: 'Source Serif Pro', serif;
    background-size: contain;
    background-clip: content-box;
    background: #ffd6e8;
    position: static;
    height: 355px;
    right: 80px;
}

.top-img {
    padding-top: 60px;
}

@media screen and (max-width: 1023px) {
    .top {
        padding-top: 50px;
        background: #ffd6e8 url('images/header_photo_small.png') no-repeat 88% 95%;
    }
}

@media screen and (min-width: 1024px) {
    .top {
        padding: 60px 0 60px 0;
        position: static;
    }

    .top-img {
        background: #ffd6e8 url('images/header_photo_big.png') no-repeat 88% 95%;
        padding: 115px 180px 20px 45px;
    }
}

.top h1 {
    padding-top: 10px;
    margin-bottom: 8px;
    font-size: 66px;
    font-weight: 700;
    color: #0E144A;
    text-shadow: 2px 2px 4px #000000;
    clear: both;

}

@media screen and (min-width: 1024px) {
    .top h1 {
        margin-bottom: 12px;
        font-size: 160px;
    }
}

.top p {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 550;
    text-shadow: 2px 2px 4px #000000;
}

@media screen and (min-width: 1024px) {
    .top p {
        font-size: 54px;
        margin-bottom: 20px;
    }
}

.top article {
    width: 55%;
}

.ui-button {
    display: inline-block;
    margin: 20px 0 0;
    padding: 10px 24px;
    position: center;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    background: linear-gradient(180deg, rgba(255, 228, 240, 0.25) 0%, rgba(0, 0, 0, 0.0525) 92.71%, rgba(255, 255, 255, 0.0963542) 99.99%), #FFE5CD;
    border: 1px solid rgba(247, 215, 226, 0.2);
    box-sizing: border-box;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
}

.ui-button:hover {
    background-color: #FFFFFF;
    color: #4C4731;
}

@media screen and (min-width: 1024px) {
    .top a {
        margin: 10px 0 0;
        padding: 30px 60px;
        font-size: 24px;
        border-radius: 12px;
    }
}

/*
6. Style glownych sekcji
*/
.section-welcome h1 {
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1024px) {
    .section-welcome h1 {
        margin: 240px 0 70px;
        font-size: 75px;
        font-weight: 500;
    }

    .section-best-friends h1 {
        margin: 25px 0 50px;
        font-size: 42px;
    }
}

.welcome-first-image {
    display: none;
}

@media screen and (min-width: 1024px) {
    .welcome-first-image {
        display: inline-block;
    }
}

.section-best-friends {
    padding: 0 10% 60px;
}

@media screen and (min-width: 1024px) {
    .section-best-friends {
        padding: 0 10% 90px;
    }
}

.section-best-friends img {
    padding: 20px 0 0;
    max-width: 20%;
}

@media screen and (min-width: 1024px) {
    .section-best-friends img {
        padding: 85px 0 0;
    }
}

.gallery-button {
    position: absolute;
    width: 80%; !important;
    padding: 15px 0 75px;

}

.img-container{
    display: inline-grid;
    padding: 15px;
    max-width: 20%;
    filter: grayscale(60%)
}

.img-container:hover{
    transform: scale(1.2);
    filter: grayscale(0%);
}

.section-kaspsel-head {
    padding: 40px 10% 30px;
    background-color: rgba(227, 161, 188, 1);
    background-image: radial-gradient(circle, rgba(227, 161, 188, 1) 0%,
    rgba(227, 148, 178, 1) 57%, rgba(176, 127, 172, 1) 100%);
}
.section-kaspsel-head img {
    filter: contrast(70%);
    position: static;
    scroll-behavior: smooth;
    overflow-scrolling: touch;
}

@media screen and (min-width: 1024px) {
    .section-kaspsel-head {
        padding: 80px 20% 80px;
    }
}

.section-kapsel-head-2 img {
    margin: 0 0 30px;
    max-width: 12%;
}

.section-kapsel-head-2 p {
    color: #FFFFFF;
}

.section-kapsel-head-2:first-child {
    margin: 0 0 30px;
}

@media screen and (min-width: 1024px) {
    .section-kapsel-head-2:first-child {
        margin: 0 0 80px;
    }
}

.section-newsletter {
    background-color: #EFEEE9;
    padding: 47px 0 26px;
}

@media screen and (min-width: 1024px) {
    .section-newsletter {
        padding: 150px 0 26px;
    }
}

.section-newsletter h2 {
    margin: 0 0 24px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #A7A79B;
}

@media screen and (min-width: 1024px) {
    .section-newsletter h2 {
        font-size: 24px;
    }
}

.section-newsletter form {
    margin: 0 0 40px;
}

.section-newsletter input {
    display: block;
    width: 60%;
    border: 1px solid #D2CFC6;
    height: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    padding: 0 0 0 20px;
    margin: 0 auto 12px;
}

@media screen and (min-width: 1024px) {
    .section-newsletter input {
        display: inline-block;
        height: 60px;
        font-size: 16px;
    }
}

.section-newsletter button {
    padding: 10px 40px;
    border: 1px solid #A7A79B;
    background-color: #A7A79B;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}

@media screen and (min-width: 1024px) {
    .section-newsletter button {
        padding: 21px 90px;
        margin: 0 0 0 10px;
        font-size: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .section-newsletter-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

.social-links img {
    max-width: 10%;
}

@media screen and (min-width: 1024px) {
    .social-links {
        margin: 90px 0 0;
    }
}

.section-contact-form h1 {
    margin: 50px 0 40px;
}

@media screen and (min-width: 1024px) {
    .section-contact-form h1 {
        margin: 120px 0 100px;
        font-size: 70px;
    }
}

.section-contact-form-inner {
    font-size: 40px;
    font-weight: 520;
    padding: 18px 0 24px;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px dashed #A7A79B;
}

@media screen and (min-width: 1024px) {
    .section-contact-form-inner {
        padding: 18px 0 70px;
        font-size: 78px;
        font-weight: 660;
    }
}

.section-contact-form input,
.section-contact-form textarea {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    margin: 0 auto 12px;
    border: 1px solid #D2CFC6;
}

@media screen and (min-width: 1024px) {
    .section-contact-form input,
    .section-contact-form textarea {
        width: 70%;
    }
}

.section-contact-form input {
    height: 28px;
}

@media screen and (min-width: 1024px) {
    .section-contact-form input {
        height: 60px;
        font-size: 16px;
    }
}

.section-contact-form textarea {
    height: 180px;
    padding: 10px 0 0;
    font-size: 16px;
}

@media screen and (min-width: 1024px) {
    .section-contact-form textarea {
        height: 300px;
    }
}

.section-contact-form button {
    padding: 10px 42px;
    background-color: #c6859f;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    margin: 25px 0 0;
}

@media screen and (min-width: 1024px) {
    .section-contact-form button {
        padding: 22px 80px;
        font-size: 24px;
        margin: 40px 0 0;
    }
}

.section-map {
    padding: 30px 0 0;
    width: 65%;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .section-map {
        padding: 60px 0 0;
    }
}

.section-map img {
    border: 1px solid #D2CFC6;
}


.mua {
    float: left;
    transform: scale(0.7);
    padding: 20px 0px 20px 15%;
}
.section-about-form {
    position: absolute;
    display: inline-grid;
    padding: 210px 100px 120px 5px;
    position: center;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
}

@media screen and (max-width: 1024px) {
    .mua {
        transform: scale(0.5);
        padding: 20px 0px 20px 120px;
    }
    .section-about-form{
        position: absolute;
        display: inline;
        font-size: 27px;
        padding: 300px 30px 120px 5px;
        position: center;
    }
}


/*
7. Stopka
*/
footer {
    padding: 20px 0;
    font-size: 12px;
    text-align: center;
    color: #A7A79B;
    text-transform: uppercase;
}

@media screen and (min-width: 1024px) {
    footer {
        padding: 40px 0;
        font-size: 16px;
    }
}
